= image_tag('admin.png', :class => "photo")
br
br
br
= link_to 'Sair', '/logout'
br
= link_to 'Ver Perfil', current_user
br
= link_to 'Info', :info
br
= link_to 'Excluir Conta', current_user, data: {:confirm => 'Tem certeza?'}, :method => :delete
br
= link_to 'usuários', users_path
br
= link_to 'perfis', profiles_path
br
= link_to 'tipos de atividade', type_activities_path
br
= link_to 'nivel de conhecimento', knowledge_levels_path
br
= link_to 'conhecimento', knowledges_path
br
= link_to 'atividade', activities_path
br
= link_to 'projeto', projects_path
br
= link_to 'status de projeto', project_statuses_path
br
= link_to 'tecnologia', technologies_path
br
= link_to 'status de projeto', project_statuses_path
br
= link_to 'area', areas_path
br
= link_to 'cargo', jobs_path
