p#notice = notice

p
  strong Nome: 
  = @job.name

= link_to 'Editar', edit_job_path(@job), :class=>'waves-effect waves-light btn green darken-3'
'|
= link_to 'Voltar', jobs_path, :class=>'waves-effect waves-light btn green darken-3'
