main {
	flex: 1 0 auto;
}

#content {
	background-color: #fafafa;
	padding: 100px 50px 70px 50px;
	height: 100% !important;
	color: #757575;
}

.titlepage {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 25px;
	color: #1e88e5;
}