#home-menu
  margin-top: 50px

#tab-content
  .tab-pane
    display: none

  .active
    display: block

.content-home
  padding: 10px
  border: 1px solid #DFDFDF
  border-top: none
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px

.name-home
  margin-top: 40px

.gravatar
  border: 7px solid #F1F1F1