<%= form_for(@user) do |f| %>
   
   <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
   </div>   

   <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
   </div>

   <div class="field">
      <%= f.label :profile_id %><br />
      <%= f.select :profile_id, Profile.all.map{|ps| [ps.name,ps.id]} %>
   </div>

   <div class="field">
      <%= f.label :job_id %><br />
      <%= f.select :job_id, Job.all.map{|ps| [ps.name, ps.id]} %>
   </div>

   <div class="field">
      <%= f.label :sector_id %><br />
      <%= f.select :sector_id, Sector.all.map{|ps| [ps.name, ps.id]} %>
   </div>

   <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
   </div>   

   <div class="field">  
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password %>
   </div>

   <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
   </div>

   <div class="actions">
      <%= f.submit %>
   </div>

  <script>
    $('select').material_select();
   </script>

<% end %>