/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

nav {
	position: fixed;
}

main {
	flex: 1 0 auto;
}

body, nav ul a, .footer-copyright, #cruds .box span {
	color: #757575;
}

#cruds .box a, .titlepage, .azul {
	color: #1e88e5;
}

#cruds {
	margin-top: 70px;
}

.box {
	background-color: #FAFAFA;
	height: 200px;
}

#content {
	background-color: #fafafa;
	padding: 100px 50px 70px 50px;
	min-height: 100%;
}

h2 {
	text-align: center;
	font-size: 25px;
}

#error_explanation {
	text-align: center;
}

.errorempty {
	text-align: center;
	margin-top: 30px;
}

.errorempty i {
	color: #d32f2f;
}

.titlepage {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 25px;
}

h1 {
	font-family: 'Lato', sans-serif;
	text-align: left;
	font-size: 38px;
	color: #212121;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
}

.aviso {
	margin-top: 5px;
}