/*
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets"
@import "bootstrap"
@import "layouts/header"
@import "layouts/footer"
@import "layouts/errorempty"
@import "layouts/main"
@import "layouts/user"
@import "layouts/admin"
@import "layouts/member"
@import "layouts/alert"
@import 'chosen'

.container
  width: 75%

html
  height: 100% !important

body
  background-color: white
  font-family: 'Lato', sans-serif
  font-size: 13px
  height: 100% !important
  display: flex
  flex-direction: column

table
  font-size: 13px
  color: #757575

h1, h2, h3, h4, h5, h6
  font-family: 'Roboto', sans-serif

h1, h2, h3, h4, h5, h6
  color: #1e88e5

.btn-responsive
  white-space: normal
  width: 100%

a:hover, a:link, a:visited
  text-decoration: none

.icon-show
  font-size: 13px

.messages
  max-height: 400px
  overflow-y: auto
  margin-bottom: 1em
  margin-top: 1em

.cjr-box
  width: 25px
  height: auto
  margin-top: -5px

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu
  color: #757575
  
  i
    color: #4f4f4f
    
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus
  background-color: #1e88e5
  color: #EEE
  i
    color: #EEE

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
  color: #EEE
  i
    color: #EEE

select option
  color: #757575

.modal-dialog
  position: absolute
  right: 0
  left: 0
  margin-top: 0
  margin-bottom: 0

.modal.fade .modal-dialog
  transition: top 0.4s ease-out
  transform: translate(0, -50%)
  top: 0

.modal.in .modal-dialog
  transform: translate(0, -50%)
  top: 50%

.manage-count
  margin-top: 10px

.label-center
  height: 20px
  display: table-cell
  vertical-align: middle
  float: none