== render 'form'

br

= link_to 'Exibir', @technology, :class=>'waves-effect waves-light btn green darken-3'
'|
= link_to 'Voltar', technologies_path, :class=>'waves-effect waves-light btn green darken-3'

