p#notice = notice

p
  strong Descrição: 
  = @type_activity.Type_Activity_description

= link_to 'Editar', edit_type_activity_path(@type_activity), :class=>'waves-effect waves-light btn green darken-3'
'|
= link_to 'Voltar', type_activities_path, :class=>'waves-effect waves-light btn green darken-3'
