<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a alteração da sua senha. Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa requisição, por favor ignore este email.</p>
<p>Sua senha não mudará até você acessar o link acima e criar uma nova.</p>

<br>
<p>Este é um email automático, não responda.</p>
<br>

<p>Atenciosamente,</p>
<p><b>SAP.CJR - Sistema de Alocação de Projetos</b></p>