<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="app/assets/javascripts/infos.js"> </script>

<div class="col s9 center"> 
    <li class="waves-effect waves-light btn blue darken-2" id="ProjetoFD" > Projetos Finalizados / Em Desenvolvimento</li>
    <li class="waves-effect waves-light btn blue darken-2"> Projetos / Preço</li>
    <li class="waves-effect waves-light btn blue darken-2"> Membros / Projeto</li>
    <li class="waves-effect waves-light btn blue darken-2"> Membros / Cargo</li>
    <li class="waves-effect waves-light btn blue darken-2"> Membros / Núcleo</li>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>



<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
  
</div>