<div class="col s9 center"> 
    <li class="btn btn-primary pull-left" id="ProjetoFD" > Projetos Finalizados / Em Desenvolvimento</li>
    <li class="btn btn-primary pull-left"> Projetos / Preço</li>
    <li class="btn btn-primary pull-left"> Membros / Projeto</li>
    <li class="btn btn-primary pull-left"> Membros / Cargo</li>
    <li class="btn btn-primary pull-left"> Membros / Núcleo</li>
</div>

<br></br>
<br></br>
<br></br>
<br></br>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
  
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="app/assets/javascripts/infos.js"> </script>
