<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <% if current_user.present? %>
      <div id="flash" class="alert-crud alert center-block text-center alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% else %>
      <div id="flash" class="alert-loginpage alert center-block text-center alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
<% end %>