<div class="container">
  <p class="left">2015 © Sistema de Acompanhamento de Projetos</p>
  <p class="right"><a class="grey-text text-darken-1 right" href="http://www.cjr.org.br">Empresa Júnior de Computação - CJR</a></p>
</div>