nav.navbar.navbar-default.navbar-fixed-top.nav-gray

  .container

    .navbar-header

      - if current_user.present?

        - if current_user.admin?
          = link_to 'SAP', admin_path, class:'navbar-brand'
        - else
          = link_to 'SAP', member_path, class:'navbar-brand'

      - else
          = link_to 'SAP', '/', class:'navbar-brand'

    .collapse.navbar-collapse

      - if current_user.present?

        ul.nav.navbar-nav

          li.dropdown
            / Passar pra slim depois (tá dando problema no span)
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membros <span class="caret"></span></a>

            ul.dropdown-menu

              li
                = link_to 'Todos os Membros', users_path

              li.divider role="separator"

              li
                = link_to 'Perfis', profiles_path
              li
                = link_to 'Cargos', jobs_path
              li
                = link_to 'Núcleos', sectors_path
              li
                = link_to 'Áreas', areas_path
              li
                = link_to 'Status de Usuário', user_statuses_path

          li.dropdown
            / Passar pra slim depois (tá dando problema no span)
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conhecimentos <span class="caret"></span></a>

            ul.dropdown-menu

              li
                = link_to 'Todos os Conhecimentos', knowledges_path
              
              li.divider role="separator"

              li
                = link_to 'Níveis de Conhecimento', knowledge_levels_path
              li
                = link_to 'Tecnologias', technologies_path

              li.divider role="separator"

              li.dropdown-header Atividades

              li
                = link_to 'Todas as Atividades', activities_path

              li.divider role="separator"

              li
                = link_to 'Tipos de Atividade', activity_types_path

              li
                = link_to 'Associar Atividade', activities_users_path

          li.dropdown
            / Passar pra slim depois (tá dando problema no span)
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>

            ul.dropdown-menu

              li
                = link_to 'Todos os Projetos', projects_path
              - if current_user.admin?
                li
                  = link_to 'Histórico de Projetos', project_histories_path
              li.divider role="separator"

              li
                = link_to 'Funções de Projeto', project_roles_path

              li
                = link_to 'Estados de Projeto', project_statuses_path

      ul.nav.navbar-nav.navbar-right
      
        - if current_user.present?
          li
            = gravatar_image_tag(current_user.email.gsub('email', current_user.name), :gravatar => { :secure => true }, :gravatar => { :size => 30 }, class:'gravatar_header')
          li
            a href="/logout" Sair

        - else
          li
            a href="/login" Entrar

      - if current_user.present?
        p.navbar-text.navbar-right = current_user.name + ' ' + current_user.last_name
        p.navbar-text.navbar-right Seja bem vindo,