<!DOCTYPE html>
<html>
<head>
  <title>SAP - CJR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="grey lighten-5">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/index" class="brand-logo" style="color: #757575">SAP</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/index">Sobre</a></li>
            <li><a href="/users/sign_in">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div id="content" class="container z-depth-1">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </main>

  <div class="footer-copyright z-depth-2 grey lighten-4">
    <div class="container">
      <p class="left">2015 © Sistema de Acompanhamento de Projetos</p>
      <p class="right"><a class="grey-text text-darken-1 right" href="http://www.cjr.org.br">Empresa Júnior de Computação - CJR</a>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>
